{% extends "layout.html" %}
{% block content %}

<body>
    <div class="section">
        <h2><i>{{ name }}</i></h2>
        <h3>{{ author }}</h3>
        <p>
            Julkaisuvuosi: {{ year }}<br>
            Genre: {{ genre }}
        </p>
    </div>

    {% if borrowable and session.user_role == 0 %}
    <div class="section">
        <p>
            Kirja on lainattavissa.
        <form action="/borrow" method="post">
            <input type="hidden" name="book_id" value="{{ id }}">
            <input type="submit" value="Lainaa kirja">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </p>
        </form>
    </div>

    {% elif session.username and loan_info[1] == session.user_id %}
    <div class="section">
        <p>
            Olet lainannut tämän kirjan.
        <form action="/return" method="post">
            <input type="hidden" name="book_id" value="{{ id }}">
            <input type="submit" value="Palauta kirja">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </p>
        </form>
    </div>

    {% elif session.user_role == 0 %}
    <div class="section">
        <p>Kirja ei ole lainattavissa. Odota kirjan palautumista.</p>
    </div>
    {% endif %}

    {% if reviews %}
    <div class="section">
        <h2>Arvostelut:</h2>

        {% for review in reviews %}
        <p>
            <b>{{ review[0] }}</b> {{ review[1] }}/5:<br>
            "{{ review[2] }}"
            <br>
        </p>
        {% endfor %}
        <br>
    </div>
    {% endif %}

    {% if session.username %}
    <div class="section">
        <h2>Anna kirjalle arvio</h2>

        <form action="/review" method="post">
            <p>
                Anna kommentti: <br>
                <textarea name="comment" rows="4" cols="40" minlength="1" maxlength="1000"></textarea>

            <p>
                Anna pisteet:
                <select name="score">
                    <option value=1> 1
                    <option value=2> 2
                    <option value=3> 3
                    <option value=4> 4
                    <option value=5> 5
                </select>
            <p>
                <input type="submit" value="Lähetä arvostelu">
                <input type="hidden" name="book_id" value="{{ id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
    {% endif %}


    <br>

    <div class="center-txt">
        {% if session.user_role == 1 %}
        <p>
            Kirjastonhoitajana voit poistaa kirjan<br>
        <form action="/remove" method="post">
            <input type="hidden" name="book_id" value="{{ id }}">
            <input type="submit" value="Poista kirja">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        </p>
        {% endif %}
    </div>

</body>

{% endblock %}