{% extends "layout.html" %}
{% block content %}

<div class="books">
    {% if session.user_role == 0 %}
    <h3>Hei {{ session.username }}!</h3>

    <p>
        Tervetuloa kirjastoon. Kaikki kirjaston kirjat löydät
        alla olevasta luettelosta, mutta voit myös käyttää hakutoimintoa
        kirjojen etsimiseen. Lainaa kirjoja ja jätä niille
        halutessasi palautetta! Mikäli kirjastosta puuttuu etsimäsi kirja,
        kerro toiveesi meille, niin lisäämme kirjan valikoimaan.
    </p>

    {% elif session.user_role == 1 %}
    <h3>Hei {{ session.username }}!</h3>

    <p>
        Olet kirjautunut kirjastonhoitajana. Kirjastonhoitajana sinulla on
        mahdollisuus lisätä ja poistaa kirjoja. Muistathan tarkkailla
        toivelistaa, jotta voimme tarjota kirjaston käyttäjille mahdollisimman
        paljon mukavaa luettavaa! Halutessasi voit itsekin tutustua
        kirjavalikoimaan ja antaa kirjoille arvosteluita.
    </p>

    {% else %}

    <h3>Hei!</h3>

    <p>
        Tervetuloa kirjastoon. Kaikki kirjaston kirjat löydät
        alla olevasta luettelosta, mutta voit myös käyttää hakutoimintoa
        kirjojen etsimiseen. Kirjaudu sisään tai luo uusi käyttäjä, jotta voit
        lainata kirjoja, antaa kirjoille arvosteluita ja toivoa valikoimaamme
        uusia kirjoja!
    </p>

    {% endif %}

    <br>

    <h2>Kirjastossa olevat kirjat: </h2>
    <p>
        {% for book in books %}
        <a href="/book/{{ book.id }}"><i>{{ book.name }}</i><br>{{ book.author }}<br></a>
    </p>
    {% endfor %}
</div>
{% endblock %}