{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Et ole kirjautunut.</p><a href="/login">Kirjaudu sisään</a>

{% endif %}
<br>

<h3>Kirjastossa olevat kirjat: </h3>
<a href="/search">Etsi kirjaa</a>
<p>
<br>
{% for book in books %}
<a href="/book/{{ book.id }}"><i>{{ book.name }}</i>, {{ book.author }}<br></a>
</p>
{% endfor %}

<br>
{% if session.user_role == 0 %}
<h3>Käyttäjän toiminnot</h3>
<ul>
    <li> <a href="/bookwish">Toivo uutta kirjaa</a>
</ul>

{% endif %}

<br>
{% if session.user_role == 1 %}
<h3>Kirjastonhoitajan toiminnot</h3>
<ul>
    <li> <a href="/add">Lisää uusi kirja</a>
    <li> <a href="/book-wishes">Katsele kirjatoiveita</a>
    <li> <a href="/loans">Katsele lainassa olevia kirjoja</a>
</ul>

{% endif %}
{% endblock %}