{% extends "layout.html" %}
{% block content %}

<h2>Rekisteröinti</h2>

<form action="/register" method="post">
    <p>Käyttäjätunnus: <br><input type="text" name="username" minlength="3" maxlength="20"></p>

    <p>Salasana: <br><input type="password" name="password1" minlength="3" maxlength="30"></p>
    <p>Salasana uudelleen: <br><input type="password" name="password2"></p>
    <p>Käyttäjärooli:
        <select name="role">
            <option value=0> Käyttäjä
            <option value=1> Kirjastonhoitaja
        </select>
    <p>
        <input type="submit" value="Rekisteröidy">
</form>

<p><a href="/login">Takaisin kirjautumiseen</a></p>

{% endblock %}